<template>
  <div @click="handleClick" :style="{ color: 'blue' }" class="cardFont">
    <div class="card">
      <div class="card__face card__face--back">{{ this.number1 }}</div>
      <div class="card__face card__face--front"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: ["number1", "countClick", "indexCard", "unFlip"],
  data() {
    return {
      flipped: false,
      found: false,
    };
  },
  mounted() {},
  methods: {
    handleClick() {
      if (this.countClick != 2 && this.found == false) {
        this.flippingCard();
        this.flipped = !this.flipped;
        this.$emit("click");
        this.$emit("emitIndex", this.indexCard, this.number1);
        this.found = true;
      } else if (this.countClick == 1) {
        this.found = true;
      }
    },
    flippingCard() {
      let card = document.querySelectorAll(".card");
      card[this.indexCard].classList.toggle("is-flipped");
    },
  },
};
</script>
<style>
.cardFont {
  width: 89%;
  height: 50%;
  perspective: 1200px;
}
.card {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  position: absolute;
  perspective: 1000px;
}
.card.is-flipped {
  transform: rotateY(180deg);
}
.card__face {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__face--front {
  background-image: url("../assets/card.png");
  background-size: 200px 200px;
  /* transform: rotateY(180deg); */
}
.card__face--back {
  transform: rotateY(180deg);
  background-color: #ccccff;
}
</style>
