<template>
  <div>
    <div
      class="grid-container"
      :style="{ gridTemplateColumns: 'repeat(' + getColumns + ', 5fr)' }"
    >
      <Card
        class="grid-item"
        @emitIndex="emitIndex"
        @click="count"
        v-for="(number, index) in arrayNumber"
        :key="index"
        :indexCard="index"
        ref="cardIndex"
        :number1="number"
        :countClick="countClick"
        :unFlip="unFlip"
      />
    </div>
  </div>
</template>

<script>
import Card from "./Card.vue";
export default {
  components: { Card },
  name: "GridNumber",
  props: ["getRows", "getColumns", "arrayNumber"],

  updated() {
    this.compare();
  },
  mounted() {
    this.startTime();
  },
  data() {
    return {
      countClick: 2,
      valueStorage: [],
      indexEmit: 0,
      valueEmit: -1,
      cardFound: 0,
      turns: 0,
      times: false,
      startTimes: 0,
      diff: 0,
      m: "00",
      s: "00",
    };
  },
  methods: {
    // get data from Card
    emitIndex: function (index, value) {
      this.indexEmit = index;
      this.valueEmit = value;
      this.valueStorage.push({ value, index });
    },
    //count clickked
    count() {
      this.countClick++;
    },
    restart() {
      for (let i = 0; i < this.getRows * this.getColumns; i++) {
        if (
          this.$refs.cardIndex[i].flipped == true &&
          this.$refs.cardIndex[i].found == true
        ) {
          this.cardFound = 0;
          this.valueStorage = [];
          this.$refs.cardIndex[i].flippingCard();
        }
        this.$refs.cardIndex[i].flipped = false;
        this.$refs.cardIndex[i].found = false;
      }
      this.countClick = 0;
      this.cardFound = 0;
      this.valueStorage = [];
      this.turns = 0;
      this.m = "00";
      this.s = "00";
      this.startTimes = Math.floor(Date.now() / 1000);
    },
    compare() {
      if (this.countClick == 2) {
        if (this.valueStorage[0].value == this.valueStorage[1].value) {
          this.$refs.cardIndex[this.valueStorage[0].index].found = true;
          this.$refs.cardIndex[this.valueStorage[1].index].found = true;
          this.$refs.cardIndex[this.valueStorage[0].index].flipped = true;
          this.$refs.cardIndex[this.valueStorage[1].index].flipped = true;
          this.cardFound++;
          this.turns++;
          this.countClick = 0;
          this.valueStorage = [];
          this.$emit("cardFound", this.cardFound, this.turns);
        } else {
          setTimeout(() => {
            this.$refs.cardIndex[this.valueStorage[1].index].flipped = false;
            this.$refs.cardIndex[this.valueStorage[0].index].flippingCard();
            this.$refs.cardIndex[this.valueStorage[1].index].flippingCard();
            this.$refs.cardIndex[this.valueStorage[1].index].found = false;
            this.$refs.cardIndex[this.valueStorage[0].index].flipped = false;
            this.$refs.cardIndex[this.valueStorage[0].index].found = false;
            this.countClick = 0;
            this.valueStorage = [];
          }, 1000);
          this.turns++;
          this.$emit("cardFound", this.cardFound, this.turns);
        }
      }
      // if (
      //   this.countClick == 2 &&
      //   this.valueStorage[0].value == this.valueStorage[1].value
      // ) {
      //   console.log("compare1: " + this.unFlip);
      //   this.$refs.cardIndex[this.valueStorage[0].index].found = true;
      //   this.$refs.cardIndex[this.valueStorage[1].index].found = true;
      //   this.$refs.cardIndex[this.valueStorage[0].index].flipped = true;
      //   this.$refs.cardIndex[this.valueStorage[1].index].flipped = true;
      //   this.cardFound++;
      //   this.turns++;
      //   this.$emit("cardFound", this.cardFound, this.turns);
      // } else if (this.countClick == 2 && this.valueStorage[0] != this.valueStorage[1]) {
      //   setTimeout(() => {
      //     this.$refs.cardIndex[this.valueStorage[1].index].flipped = false;
      //     this.$refs.cardIndex[this.valueStorage[0].index].flippingCard();
      //     this.$refs.cardIndex[this.valueStorage[1].index].flippingCard();
      //     this.$refs.cardIndex[this.valueStorage[1].index].found = false;
      //     this.$refs.cardIndex[this.valueStorage[0].index].flipped = false;
      //     this.$refs.cardIndex[this.valueStorage[0].index].found = false;
      //   }, 300);

      //   this.turns++;
      //   this.$emit("cardFound", this.cardFound, this.turns);
      // }
    },
    checkTime(i) {
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    },
    startTime() {
      var now = Math.floor(Date.now() / 1000);
      this.diff = now - this.startTimes;
      // this.m = Math.floor(this.diff / 60);
      this.m = this.checkTime(Math.floor(this.diff / 60));
      this.s = this.checkTime(Math.floor(this.diff % 60));
      setTimeout(() => {
        if (this.cardFound < parseInt(this.arrayNumber.length / 2)) this.startTime();
        this.$emit("time", this.m, this.s);
      }, 1000);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.grid-container {
  grid-gap: 10px;
  display: grid;
  padding: 10px;
  grid-auto-flow: row dense;
}
.info {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.979);
  border: 1px solid rgba(0, 0, 255, 0.3);
  font-size: 40px;
  text-align: center;
  height: 190px;
  width: 200px;
}
</style>
