<template>
  <div>
    <div class="grid-container">
      <div>
        <p>Set Rows</p>
        <input v-model="inputRows" type="number" v-on:keypress="createArrayNumber()" />
      </div>
      <div>
        <p>Set Columns</p>
        <input v-model="inputColumn" type="number" v-on:keypress="createArrayNumber()" />
      </div>
      <div>
        <button @click="createArrayNumber()">Reset game</button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Setup",
  data() {
    return {
      inputRows: 3,
      inputColumn: 3,
      arrayNumber: [],
    };
  },
  mounted() {
    this.createArrayNumber();
  },
  updated() {
    this.createArrayNumber();
  },
  methods: {
    createArrayNumber() {
      this.arrayNumber = [];
      //create number
      let m = parseInt((this.inputRows * this.inputColumn) / 2);
      for (let n = 0; n < parseInt((this.inputRows * this.inputColumn) / 2); n++) {
        this.arrayNumber[n] = n;
        this.arrayNumber[m] = n;
        m++;
      }
      if ((this.inputRows * this.inputColumn) % 2 != 0) {
        this.arrayNumber.push(Math.floor((this.inputRows * this.inputColumn) / 2));
      }
      for (let i = this.arrayNumber.length - 1; i > 0; i--) {
        var j = Math.floor(Math.random() * (i + 1));
        var temp = this.arrayNumber[i];
        this.arrayNumber[i] = this.arrayNumber[j];
        this.arrayNumber[j] = temp;
      }
      //random number
      // let m = parseInt(this.inputRows * this.inputColumn / 2);
      // for (let n = 0; n < parseInt(this.inputRows * this.inputColumn / 2); n++) {
      //   let number = Math.floor(Math.random() * 100+1);
      //   this.arrayNumber[n] = number;
      //   this.arrayNumber[m] = number;
      //   m++;
      // // }
      // for (let i = this.arrayNumber.length - 1; i > 0; i--) {
      //   var j = Math.floor(Math.random() * (i + 1));
      //   var temp = this.arrayNumber[i];
      //   this.arrayNumber[i] = this.arrayNumber[j];
      //   this.arrayNumber[j] = temp;
      // }
      // if ((this.inputRows * this.inputColumn) % 2 != 0) {
      //   this.arrayNumber.push(Math.floor(Math.random() ));
      // }
      ////////////////////////////////
      this.$emit("setGrid", this.inputRows, this.inputColumn, this.arrayNumber);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
button {
  border: 1px solid #ddd;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: #13ce66;
  color: #fff;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196f3; */
}
.item1 {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 3;
  /* grid-row-start: 1;
  grid-row-end: 2; */
}
</style>
