<template>
  <div id="app">
    <div v-show="!showSplash">
      <setup @setGrid="setGrid" :cardFound="cardFound" class="setup"> </setup>
      <div class="infos">Turns:{{ this.getTurns }}</div>
      <div>Time {{ this.getm }} : {{ this.gets }}</div>
      <grid-number
        class="grid"
        @time="time"
        @cardFound="card_Found"
        :getRows="getRows"
        :getColumns="getColumns"
        :arrayNumber="arrayNumber"
      />
    </div>
    <div>
      <div class="splash" v-if="showSplash">
        <div class="content">
          <div class="title">You finished !</div>
          <div class="infos">Turns:{{ this.getTurns }}</div>
          <div>Time {{ this.getm }} : {{ this.gets }}</div>
          <!-- <div class="score">Score:</div> -->
          <button class="newGame" @click="newGame()">Play again</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Setup from "./components/Setup.vue";
import GridNumber from "./components/GridNumber.vue";

export default {
  name: "App",
  components: {
    Setup,
    GridNumber,
  },
  mounted() {
    this.time();
  },
  data() {
    return {
      getRows: 0,
      getColumns: 0,
      arrayNumber: [],
      cardFound: 0,
      showSplash: false,
      getTurns: 0,
      startTimes: 0,
      diff: 0,
      getm: 0,
      gets: 0,
    };
  },
  methods: {
    setGrid(rows, cols, arrNumber) {
      this.getRows = rows;
      this.getColumns = cols;
      this.arrayNumber = arrNumber;
      this.showSplash = false;
      this.getTurns = 0;
      this.$children[1].restart();
    },
    card_Found(_cardFound, _turns) {
      this.cardFound = _cardFound;
      this.getTurns = _turns;
      if (this.cardFound == parseInt((this.getRows * this.getColumns) / 2)) {
        this.showSplash = true;
      }
    },
    newGame() {
      this.$children[0].createArrayNumber();
      this.$children[1].restart();
      this.showSplash = false;
      this.getTurns = 0;
      this.$children[1].startTime();
      this.$children[1].m = "00";
      this.$children[1].s = "00";
    },
    time(_m, _s) {
      this.getm = _m;
      this.gets = _s;
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.splash {
  /* position: absolute; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.setup {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
  /* position: absolute; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: rgba(#314, 0.6);
}

.content {
  /* position: absolute; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  margin: auto;
  text-align: center;
  background-color: rgba(#333, 0.9);

  border-radius: (10px);
  box-shadow: (5px 5px 20px rgba(Black, 0.8));

  padding: 1em;
}
.title {
  font-size: 1.8em;
  padding: 0.5em;
}

.score {
  padding: 0.5em;
}

button {
  margin-top: 1em;

  background-color: #444;
  padding: 5px 20px;
  border-radius: (4px);
  border: 1px solid #555;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  /* font-family: "微软雅黑", arail; */
  cursor: pointer;
  background-color: #13ce66;
  color: #fff;
  font-size: 1.4em;
}
</style>
